# --------------------- NO SUBIR TUS VARIABLES DE ENTORNO AL REPOSITORIO ---------------------
# Las variables de entorno son información sensible; contraseñas, claves de API o configuraciones del sistema

# Este es solo un ejemplo de un archivo que aplicado debería ser '.env', las variables y sus valores no deben
# contener espacios en su declaración PORT=3000


PORT=3000
NODE_ENV= development

# Database conecction URL with Prisma
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/mi_db?schema=public"